*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 62.5;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}
body{
    display: grid;
    grid-template-columns: 120px 1fr;
    grid-template-rows: 70px 1fr;
    grid-template-areas:  "nav nav"
                    "sidebar main";
    height: 100vh;
}

nav {
    grid-area: nav;
    display: grid;
    grid-template-columns: 90px 100px 1fr 150px 100px;
    width: 100%;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2) ;
    align-items: center;
    background-color: #fbfbfb;
}

.navbar__logo{
    width: 50px;
    justify-self: right;

}
.navbar__title{
    font-size: 1.6rem;
    font-weight: bold;
    color: #E50914;
}
.navbar__search{
    width: 70%;
    min-width: 300px;
    justify-self: center;
    height: 35px;
    border-radius: 10px;
    font-size: 1.2rem;
    padding-left: 15px;
    align-self: center;
    outline: none;
}

.navbar__user{
    font-weight: bold;
}

.navbar__profile-picture{
    padding-left: 10px;
    border-radius: 50%;
}

.sidebar{
    display: grid;
    grid-template-rows: 100px 100px 100px 1fr 100px;
    background-color: #E50914;
    align-items: center;
    justify-items: center;
    font-weight: bold;
    color: #fbfbfb;
}

.sidebar__element_icon{
    text-align: center;
}

.sidebar__element_icon img{
    width: 40px;
    color: #fbfbfb;
    
}

@media screen and (max-width: 1024px){
    .navbar__search{
        font-size: 0.8rem;
        padding-left: 12px;
    }
}