*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 62.5;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

nav {
    display: grid;
    grid-template-columns: 90px 100px 1fr 150px 100px;
    width: 100%;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2) ;
    height: 70px;
    align-items: center;
    background-color: #fbfbfb;
}
.navbar__logo{
    width: 50px;
    justify-self: right;

}
.navbar__title{
    font-size: 1.6rem;
    font-weight: bold;
    color: #E50914;
}
.navbar__search{
    width: 70%;
    min-width: 300px;
    justify-self: center;
    height: 35px;
    border-radius: 10px;
    font-size: 1.2rem;
    padding-left: 15px;
    align-self: center;
    outline: none;
}

.navbar__user{
    font-weight: bold;
}


@media screen and (max-width: 1024px){
    .navbar__search{
        font-size: 0.8rem;
        padding-left: 12px;
    }
}